.shop-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-container {

    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    background-color: #efefef;
    border-radius: 10px;
    margin-bottom: 40px;
    overflow: hidden;
}

.product-img {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.product-name, .product-price {    
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-info img{
 max-width: 100%;
}

.cart-container {
    width: calc(20% - 10px);
    margin-left: 10px;
    background-color: #efefef;
    
}
.cart-container-inner {
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 10px;
    position: sticky;
    top: 0;
}

.cart-container-inner h4 {
    margin-bottom: 20px;
}

.btn-cart {
    width: 100%;
    height: 40px;
    background-color: aquamarine;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
