.btn-select-rendom {
    margin-bottom: 10px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}

.btn-clear {
    border-radius: 5px;
    font-weight: 600;
}